<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rwr.dao.seeker.ISeekerDao">
    <cache/>

    <resultMap id="seekerMap" type="com.rwr.entity.seeker.Seeker">
        <result property="id" column="id"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="dateOfAddition" column="date_of_addition"/>
        <result property="dateOfInterview" column="date_of_interview"/>
    </resultMap>

    <select id="getAll" resultMap="seekerMap">
        SELECT *
        FROM SEEKER
    </select>

    <select id="getById" resultType="com.rwr.entity.seeker.Seeker" resultMap="seekerMap">
        SELECT *
        FROM SEEKER
        WHERE id = #{id}
        LIMIT 1
    </select>


</mapper>
